<Modal @ref="modal">
	<Title>Импорт участников из CSV</Title>
	<Body>
		Something here
	</Body>
	<Footer>
		Footer
	</Footer>
</Modal>
@code {
	private Modal modal;

	public void Show()
	{
		modal.Open();
	}
}
